#searchbar {
    text-align:center;
}

#searchbar input {
    width: 400px;
    background-color: white;
}

#searchbar button {
    border: none;
    border-radius: 10px;
    margin: 4px;
    padding: 5px 15px;
    cursor: pointer;
}

